* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.head-title, .btn-para {
    color: #00A1FB;
}
.image-container{
    width: 700px;
    height: 700px;
    margin: 5rem auto;
    position: relative;
}
.heart {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 76%;
   height: 76%;
   margin-top: -38%; /* Half the height */
   margin-left: -38%; /* Half the width */
    
}
.red-circle1{
    position: absolute;
    top: 40%;
    left: 3%;
    color: #fff;
    background-color: #D61335;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    padding: 0.5rem;
}
.red-circle2{
    position: absolute;
    top: 18%;
    right: 8%;
    color: #fff;
    background-color: #D61335;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
   
    padding: 0.5rem;
}
.red-circle3{
    position: absolute;
    bottom: 22%;
    right: 9%;
    color: #fff;
    background-color: #D61335;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    padding: 0.5rem;
}
.red-circle4 {
    width: 80px;
    height: auto;
    position: absolute;
    bottom: -4%;
    left: 42%;
    transform: rotate(180deg);
}
.blockage-container {
    position: absolute;
    bottom: 18%;
    right: 11%;
}
.blockage-text {
    font-size: 0.9rem;
    font-weight: 900;
    padding-top: 0.4rem;
}
.btn-text{
    display: none;
    margin: 1rem 2rem
}
.rota{
    transform: rotate(0deg);
}

@media (max-width: 576px) {
   
    .image-container{
        width: 340px;
        height: 340px;
        margin: 5rem auto;
        position: relative;
    }
    .red-circle1{
        position: absolute;
        top: 42%;
        left: 3%;
        color: #fff;
        background-color: #D61335;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
       font-size: 0.5rem;
        padding: 0.5rem;
    }
    .red-circle2{
       
        width: 65px;
        height: 65px;
        font-size: 0.5rem;
        top: 18%;
        right: 10%;
    }
    .red-circle3{
       
        width: 65px;
        height: 65px;
        font-size: 0.5rem;
        bottom: 20%;
        right: 8%;
    } 
    .red-circle4 {
        width: 40px;
        height: auto;
        position: absolute;
        bottom: -5%;
        left: 42%;
    }
    .blockage-container {
        position: absolute;
       right: 3%;
    }
    .blockage {
        width: 65px;
        height: 65px;
       
    }
}