
@font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url('./fonts/AvenirNextLTPro-Bold.eot');
    src: url('./fonts/AvenirNextLTPro-Bold.eot') format('embedded-opentype'),
    url('./fonts/AvenirNextLTPro-Bold.woff') format('woff'),
    url('./fonts/AvenirNextLTPro-Bold.ttf') format('truetype'),
    url('./fonts/AvenirNextLTPro-Bold.svg') format('svg');
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 1px
}
a {
    text-decoration: none;
}
p {
    margin: 0
}
a:hover {
    text-decoration: none;
}
.head-title{
    color: #00A1FB;
    font-size: 36px;
    font-family:'AvenirNextLTPro-Bold', sans-serif ;
    font-weight: 550;
    word-spacing: 0.2rem
}
.btn-para {
    color: #00A1FB;
    font-size: 20px;
    font-family:'AvenirNextLTPro-Bold', sans-serif ;
}
.image-container{
    width: 730px;
    height: 730px;
    margin: 5rem auto 0.5rem auto;
    position: relative;
}
.heart {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 76%;
   height: 76%;
   margin-top: -38%; /* Half the height */
   margin-left: -38%; /* Half the width */
    
}
.red-circle1{
    position: absolute;
    top: 39%;
    left: 1%;
    color: #fff;
    background-color: #D61335;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    padding: 20px;
    font-family:'AvenirNextLTPro-Bold', sans-serif ;
}
.red-circle2{
    position: absolute;
    top: 19%;
    right: 3%;
    color: #fff;
    background-color: #D61335;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
    font-family:'AvenirNextLTPro-Bold', sans-serif ;
    padding: 20px;
}
.red-circle3{
    position: absolute;
    bottom: 22%;
    right: 9%;
    color: #fff;
    background-color: #D61335;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    padding: 20px;
    font-family:'AvenirNextLTPro-Bold', sans-serif ;
}
.red-circle4 {
    width: 100px;
    height: auto;
    position: absolute;
    bottom: -6%;
    left: 42%;
    transform: rotate(180deg);
}
.blockage-container {
    position: absolute;
    bottom: 18%;
    right: 11%;
}
.blockage-text {
    font-size: 0.9rem;
    font-weight: 900;
    padding-top: 0.4rem;
    font-family:'AvenirNextLTPro-Bold', sans-serif ;
}
.btn-text{
    display: none;
    margin: 4rem 2rem 1rem 2rem;
    font-family:'AvenirNextLTPro-Bold', sans-serif ;
    font-size: 16px;
    word-spacing: 0.1rem;
}
.rota{
    transform: rotate(0deg);
}
.btn-para-a {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 14px;
    font-weight: 550;
    color: #00A1FB
}

@media (max-width: 576px) {
   
    .image-container{
        width: 340px;
        height: 340px;
        margin: 5rem auto 2rem auto;
        position: relative;
    }
    .red-circle1{
        position: absolute;
        top: 39%;
        left: 3%;
        color: #fff;
        background-color: #D61335;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
       font-size: 0.5rem;
        padding: 0.5rem;
    }
    .red-circle2{
       
        width: 65px;
        height: 65px;
        font-size: 0.5rem;
        top: 18%;
        right: 7%;
    }
    .red-circle3{
       
        width: 65px;
        height: 65px;
        font-size: 0.5rem;
        bottom: 20%;
        right: 8%;
    } 
    .red-circle4 {
        width: 60px;
        height: auto;
        position: absolute;
        bottom: -7%;
        left: 42%;
    }
    .blockage-container {
        position: absolute;
        top: 60%;
        right: 7%
    }
    .blockage {
        width: 65px;
        height: 65px;
    }
    .btn-para-a {
        margin-top: 2.5rem;
    }
    .btn-text{
        display: none;
        margin: 2.5rem 2rem 1rem 2rem;
        font-family:'AvenirNextLTPro-Bold', sans-serif ;
        font-size: 14px
    }
    .head-title {
        font-size: 28px
    }
}